* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-color: #f5f4f0;
  --text-headline-color: #e1624f;
  --text-primary-color: #1b1b1b;
  --text-secondary-color: #333;
  --border-color: #d9d9d9;
  --blue-accent: #0c51a7;
  --purple-accent: #591b98;
  --pink-accent: #e5245e;
  --orange-accent: #e95e10;
}

::selection {
  background-color: var(--orange-accent);
  color: var(--default-color);
}

html,
body {
  background-color: var(--default-color);
  width: 100%;
  min-height: 100vh;
  height: auto;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 5.5rem 5rem 3rem;
}

h1,
h2,
h3 {
  color: var(--text-primary-color);
  font-weight: 700;
}

img {
  border-radius: 1.75rem;
  vertical-align: top;
}

ul {
  list-style: none;
}

p {
  color: var(--text-secondary-color);
}

#next-trip,
#destinations,
footer {
  max-width: 75rem;
  margin-inline: auto;
}

#next-trip,
#destinations {
  padding-bottom: 2.5rem;
  border-bottom: 0.0625rem solid var(--border-color);
}

#next-trip span,
#destinations > span {
  color: var(--text-headline-color);
  text-transform: uppercase;
  font-weight: 700;
}

#next-trip img,
#destinations img {
  width: 100%;
}

#next-trip {
  margin-bottom: 4rem;
}

#next-trip h1 {
  font-size: 2.25rem;
  margin: 0.5rem 0 2.5rem;
}

#next-trip p {
  font-style: italic;
  text-align: center;
  margin-top: 1.5rem;
}

#destinations {
  margin-bottom: 2.5rem;
}

#destinations > h2 {
  font-size: 2rem;
  margin: 0.125rem 0 0.5rem;
}

#destinations > p {
  margin-bottom: 4rem;
}

#destinations article {
  margin-bottom: 3rem;
}

#destinations article:last-child {
  margin-bottom: 0;
}

#destinations article img {
  margin-bottom: 1.25rem;
}

#destinations article h3 {
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}

#destinations article p {
  margin-bottom: 1.25rem;
}

#destinations article > span {
  color: var(--text-secondary-color);
  font-weight: 700;
}

#destinations article ul li {
  color: var(--text-secondary-color);
  font-weight: 700;
}

#destinations article ul li span.history {
  color: var(--blue-accent);
}

#destinations article ul li span.couple {
  color: var(--purple-accent);
}

#destinations article ul li span.family {
  color: var(--pink-accent);
}

#destinations article ul li span.budget {
  color: var(--orange-accent);
}

footer {
  text-align: center;
}

footer p {
  margin-bottom: 3.75rem;
}

footer div {
  font-family: "Alice", sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

@media screen and (max-width: 768px) {
  body {
    padding-inline: 1.25rem;
  }
}
